<script>
export default {
  components: {
    ComponentInfo: () => (process.browser ? import('../../components/componentinfo.vue') : null),
  },
  editThisPage: {
    resolve: ({ route }) => `contents${route.path.replace(/\/+$/, '')}.md`,
  },
  asyncData({ route }) {
    const { path } = route;
    const mdFile = path.replace(new RegExp(`/${route?.params?.tab}/?`), '');
    return import(`~/contents${mdFile}.md`).then(({ default: fmResult }) => ({ fmResult }));
  },
};
</script>

<template>
  <div class="content limited m-t-7 m-b-8">
    <no-ssr>
      <component-info :frontmatter-info="fmResult" />
    </no-ssr>
  </div>
</template>
